@keyframes sidenav-open {
    0% {
        width: 0;
    }

    100% {
        width: var(--full-sidebar-width, 4rem);
    }
}

.root {
    --full-sidebar-width: min(10rem, 20vw);
    /*border-right: var(--sidenav-border-size, 0) solid var(--sidenav-border-colour, rgba(0,0,0,0));*/
    box-shadow: 0 0 0 0 var(--sidenav-border-colour, rgba(0,0,0,0)), 0 0 0 0 var(--sidenav-border-colour, rgba(0,0,0,0));
    height: 100vh;
    width: var(--full-sidebar-width, 4rem);
    padding: 1rem 0.35rem;

    &.open {
        --sidenav-border-size: 1px;
        --sidenav-border-colour: #000;
        --sidenav-bg-colour: #eee;
        pointer-events: all;
        box-shadow: 1px 0 2px 1px rgba(0,0,0,1), 16px 0 40px 2px rgba(0, 0, 0, 0.15);
        animation: sidenav-open 0.4s;
    }

    transition: 0.16s box-shadow ease;

    pointer-events: none;

    background-image: linear-gradient(to right, var(--sidenav-bg-colour, rgba(0,0,0,0)), var(--sidenav-bg-colour, rgba(0,0,0,0)));

    position: absolute;

    left: 0;
    top: 0;

    grid-template: "menu-toggle" auto / minmax(auto, 100%);
    display: grid;
    align-content: start;

    .menuToggle {
        left: calc(var(--full-sidebar-width, 4rem) / 2);
        transform: translate(-50%, 0);
        position: absolute;
    }

    .menuToggle {
        grid-area: menu-toggle;
        justify-self: center;
        width: fit-content;
        pointer-events: all;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        border: 1px solid color-mix(in srgb, #22222299, #00f 20%);
        border-radius: 4px;
        box-shadow: 0 0 1px 0 color-mix(in srgb, #222, #00f 20%);
        padding: 0.2em 0.45em;

        transition: 0.15s box-shadow ease;

        :global(.hamburger-icon) > span {
            box-shadow: 0 0 0px 0px rgba(0,0,0,0.0);
            transition: 0.15s box-shadow ease;
        }

        &:hover {
            box-shadow: 0 0 2px 3px #000;
            :global(.hamburger-icon) > span {
                box-shadow: 0 0 3px 0px rgba(0,0,0,0.32);
            }
        }
    }
}