@use "sass:color";
@use "~/shared";
@use '~/breakpoints';

@keyframes sidenav-open {
    0% {
        width: 0;
    }

    100% {
        width: var(--full-sidebar-width, 4rem);
    }
}

@keyframes sidenav-open-menutoggle {
    from {
        left: calc(var(--full-sidebar-width, 4rem) / 2);
        transform: translate(-50%, 0);
        position: absolute;
    }

    to {
        position: relative;
        left: 0;
        transform: none;
    }
}

@keyframes sidenav-open-slide {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes sidenav-open-slide-bg {
    0% {
        background-size: 0;
    }

    100% {
        background-size: 100%;
    }
}

@keyframes sidenav-prevent-anim-on-load {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

// Hide the sidenav by by default, but without display: none, so we keep the intrinsic size.
.root *:not(.menuToggle):not(.menuToggle *) {
    // Allow me to explain this gash: because of the CSS transitions for the sidenav,
    // the sidenav will animate shrinking when you load the page. So we use a hard step anim
    // to hide the sidenav's contents for the first 0.5s
    @media (scripting: enabled) {
        animation-name: sidenav-prevent-anim-on-load;
        animation-duration: 0.5s;
        animation-timing-function: step-end;
    }
}

.root:not(.open) {
    @media (scripting: enabled) {
        pointer-events: none;
    }
}

.root.open > *:not(.menuToggle):not(.menuToggle *) {
    //animation: sidenav-open-slide 1s;
    animation-timing-function: ease;
    transform: translate(0, 0);
}

.root > *:not(.menuToggle):not(.menuToggle *) {
    transition: 0.5s transform ease;
    @media (scripting: enabled) {
        transform: translate(-100%, 0);
    }
}

.root {
    --full-sidebar-width: min(15rem, 20vw);
    /*border-right: var(--sidenav-border-size, 0) solid var(--sidenav-border-colour, rgba(0,0,0,0));*/
    box-shadow: 0 0 0 0 var(--sidenav-border-colour, rgba(0,0,0,0)), 0 0 0 0 var(--sidenav-border-colour, rgba(0,0,0,0));
    height: 100vh;
    width: var(--full-sidebar-width, 4rem);
    min-width: fit-content;
    background-repeat: no-repeat;

    z-index: shared.$zindex-sidenav;

    grid-area: sidenav;
    position: sticky;

    // Offset the entire sidenav contents from the top a bit so the toggle ends up more center-aligned with the logo
    // (can't really do it properly as the logo is in the Header container whilst the toggle is part of the Sidenav)
    padding-top: 0.9rem;

    @media (scripting: enabled) {
        background-size: 0%;
        position: fixed;
    }

    .footerRoot {
        grid-area: footer;
        > * {
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }

    &.open {
        .footerRoot > * {
            opacity: 1;
        }

        --sidenav-border-size: 1px;
        --sidenav-border-colour: #000;
        --sidenav-bg-colour: #eee;
        pointer-events: all;
        box-shadow: 1px 0 12px 0px rgba(0,0,0,1), 16px 0 40px 2px rgba(0, 0, 0, 0.15);
        //animation: sidenav-open 0.4s;
        background-size: 100%;
        //animation: sidenav-open-slide-bg 1s;
        animation-timing-function: ease;

        .menuToggle {
            //animation: sidenav-open-menutoggle 0.4s;
        }

        transition: box-shadow 0.16s 0.5s ease, background-size 0.5s ease;
    }

    transition: background-size 0.5s ease;

    @media (scripting: enabled) {
        pointer-events: none;
    }

    left: 0;
    top: 0;

    grid-template: "menu-toggle" auto "buttons" auto "footer" minmax(auto, 100%) / minmax(auto, 100%);
    display: grid;
    align-content: start;

    .menuToggle {
        --icon-colour: rgba(200, 200, 200, 0.8);
        position: relative;
        margin: 1rem 0.35rem;
        grid-area: menu-toggle;
        justify-self: center;

        @media screen and (max-width: breakpoints.$md) {
            justify-self: start;
            margin-left: 3.5rem;
        }

        @media screen and (max-width: breakpoints.$sm) {
            justify-self: start;
            margin-left: 2rem;
        }

        width: fit-content;
        pointer-events: all;
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        padding: 0.25em 0.85em;
        backdrop-filter: blur(9px) contrast(95%);

        // Hide the toggle if JS is disabled as then the sidenav will always be visible anyway (and can't be hidden due to no JS)
        @media not (scripting: enabled) {
            visibility: hidden;
        }

        transition: 0.15s box-shadow ease;

        :global(.hamburger-icon) > span {
            box-shadow: 0 0 0px 0px rgba(0,0,0,0.0);
            transition: 0.15s box-shadow ease;
        }

        &:hover {
            box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.3);
            :global(.hamburger-icon) > span {
                box-shadow: 0 0 3px 0px rgba(0,0,0,0.32);
            }
        }
    }

    // Buttons
    .buttons {
        grid-area: buttons;
    }
}

.root > ul {
    padding: 0;

    > li.navItem {
        font-size: 1.3rem;

        &:first-child .button {
            border-top-width: 3px;
        }

        &:last-child .button {
            border-bottom-width: 3px;
        }

        list-style: none;
    }
}

.button {
    $bgColor: color.mix(color.mix(#000, color.mix(#fff, shared.$color-roseypink, 10%), 75%), color.mix(#000, shared.$color-purple, 50%), 20%);
    background-color: $bgColor;
    border: 1px solid rgba(color.mix(#fff, shared.$color-roseypink, 30%), 0.3);
    border-left: none;
    border-right: none;
    text-decoration: none;
    font-weight: 800;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;

    > span {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &:hover:not(:global(.active)) {
        background-color: color.mix(color.mix(#000, color.mix(#fff, shared.$color-roseypink, 10%), 65%), color.mix(#000, shared.$color-purple, 40%), 70%);

        border-color: rgba(shared.$color-strongpurple, 0.3);
    }

    &:active,
    &:global(.active) {
        background-color: color.mix(color.mix(#000, color.mix(#fff, shared.$color-roseypink, 10%), 45%), color.mix(#000, shared.$color-purple, 50%), 80%);
        text-shadow: 1px 1px 5px rgba(black, 0.55);
        border-color: shared.$color-orange;
    }

    &:focus {
        text-shadow: 1px 1px 5px rgba(black, 0.55);
    }

    &>div:first-of-type {
        flex-basis: 100%;
        flex-shrink: 1;
        flex-grow: 0;
        text-align: left;
        padding-left: 1em;
    }

    width: 100%;

    color: rgba(shared.$color-light, 0.875);

    text-shadow: 1px 1px 5px rgba(black, 0.35);

    font-size: 1.35rem;

    height: 3.5rem;
    position: relative;
    z-index: 1022;
}

.footerRoot {
    display: flex;
    color: shared.$color-light;
    justify-content: center;
    flex-direction: column;
    max-width: 13em;
    margin: 0 auto #{shared.padding(14)} auto;
    p {
        display: block;
        text-align: center;
        a {
            &, &:visited, &:active, &:focus {
                color: shared.$color-lightrosey;
            }
        }
    }
    align-self: end;
}