@use "sass:color";
@use "~/shared";

div.navbar {
    font-family: 'Rajdhani', sans-serif;
}

.root {
    position: fixed;
    min-height: 4.5rem;
    --border-alpha: 1;
    border-bottom: 2px solid rgba(shared.$color-lightpink, calc(0.8 * var(--border-alpha, 1)));
    grid-area: header;

    display: grid;
    grid-template: "spacing tz-logo page-title" 100% / 30% 40% 30%;
    justify-items: center;
    padding: shared.padding(3) 0;
    // TODO:    the logo ends up being looking slightly off-center when JS is disabled
    //          since due to position: fixed it ignores the size of the sidenav despite being partially obscured by it
    width: 100vw;
    backdrop-filter: blur(1px);
    z-index: shared.$zindex-header;
}

.tzLogo {
    height: 4.5em;
    width: auto;
    grid-area: tz-logo;
    border-radius: 95%;
    backdrop-filter: blur(2px);
}

.navIcon {
    height: 100%;
    width: 4rem;
    font-size: 2rem;
    z-index: 1021;
}

.navIcon i {
    position: relative;
    top: -17.5%;

    margin-right: 0.3rem;
}

.navBorder {
    border-color: color.mix(#fff, shared.$color-roseypink, 10%);
}

#navbarContent {
    height: 100vh;
    transition: transform 0.15s ease;
    backdrop-filter: blur(2px);
    width: 100%;
}

#navbarContent ul li.navItem {
    display: inline-block;
}

.navbar-toggler {
    width: fit-content;
}

.tz-navbar-hidden {
    transform: translateX(-100%);
}

.tz-navbar-shown {
    transform: translateX(0%);
}

.hide {
    width: 0;
    transition: width 0.15s ease;
}