@use 'sass:color';
@use '~/shared';
@use '~/breakpoints';

$marginTop: 6;

// Offsetting child elements of the slide so we can scroll into view when cycling the carousel images, without the header obscuring any part of the slide
// 4.5 is a magic number, I'm not exactly sure why it works (probably ratio of marginTop and header height?) but it perfectly scrolls to the slide header
.root {
  margin-top: shared.padding($marginTop);
  position: relative;
  top: calc(#{shared.padding($marginTop)} * -4.5);
  margin-bottom: shared.padding($marginTop);
  display: grid;
  > .slideRoot {
    grid-row: 1;
    grid-column: 1;
    transition: opacity 0.2s ease;
  }
  .slideRoot > * {
    transform: translate(0, calc(#{shared.padding($marginTop)} * 4.5));
  }

  // Need to disable pointer-events on as many things as possible as otherwise this prevents hover events from the skill icons in the previous section (due to the transform: translate)
  pointer-events: none;

  // Disabled JS and initial state carousel handling
  &:not(:has(.slideRoot[data-iscurrentslide="true"])) {
    .slideRoot {
      &:not(:has(~:target)) {
        &:first-of-type {
          display: grid;
          opacity: 1;
          visibility: visible;
          & * {
            pointer-events: auto;
          }
        }
      }

      &:not(:target) {
        display: none;
        visibility: hidden;
        @media screen and (min-width: breakpoints.$lg) {
          display: grid;
        }
        opacity: 0;
        &, & * {
          pointer-events: none;
        }
      }

      &:target {
        display: grid;
        visibility: visible;
        opacity: 1;
        & * {
          pointer-events: auto;
        }
      }
    }
  }

  &:has([data-iscurrentslide="true"]) {
    .slideRoot {
      display: none;
      visibility: hidden;
      @media screen and (min-width: breakpoints.$lg) {
        display: grid;
      }

      opacity: 0;

      &, & * {
        pointer-events: none;
      }
    }

    .slideRoot[data-iscurrentslide="true"] {
      display: grid;
      visibility: visible;
      opacity: 1;

      & * {
        pointer-events: auto;
      }
    }
  }
}

.slideRoot {
  grid-template: "text image-container" auto / var(--text-width, 30%) calc(100% - var(--text-width, 30%));
  gap: 0 shared.padding(5);

  @media (max-width: breakpoints.$lg) {
    grid-template: "image-container" minmax(min(37.5em, 45vmax), auto) "text" auto / 100%;
    --cycle-button-width: 3.5rem;
    .imageContainer {
      max-height: max(15em, 50vh);
    }
  }
}

.textContainer {
  grid-area: text;
  pointer-events: auto;

  > h1, > h2 {
    margin-top: 0;
  }

  > h2 {
    font-size: 1em;
    font-weight: 100;
    a {
      transition: color 0.2s ease;
      font-weight: 200;
      &, &:focus, &:active, &:visited {
        color: #{color.mix(#fff, shared.$color-orange, 20%)};
      }
      &:hover {
        color: shared.$color-orange;
      }
      text-decoration: none;

      // Prevent the external link text from wrapping into a new line
      display: inline-block;
    }
  }

  > .technologies {
    display: flex;
    flex-direction: row;
    gap: #{shared.padding(1.5)} #{shared.padding(3)};

    &:before {
      content: 'Technologies used';
      position: absolute;
      transform: translate(0, calc(#{shared.padding(-1)} - 0.5em));
      right: 0;

    }
    padding-top: shared.padding(1);
    padding-right: 9em;
    flex-wrap: wrap;

    > div, > div > img {
      flex-basis: 2em;
      flex-grow: 0;
      height: 2em;
      position: relative;

      pointer-events: all;

      &:hover {
        + span.techDummy {
          transform: translate(-50%, -10%);
          opacity: 1;
        }
      }
    }
    > img {
      object-fit: contain;
      width: auto;
      ::before {
        content: "" attr(alt) "";
        justify-content: center;
        align-content: center;
      }
    }
  }
}

.imageContainer {
  &, * {
    user-select: none;
  }

  position: relative;

  display: grid;
  grid-area: image-container;

  --cycle-button-width: 4rem;

  grid-template: "prev image next" auto / var(--cycle-button-width) auto var(--cycle-button-width);

  @media (max-width: breakpoints.$md) {
    --cycle-button-width: 3rem;
  }

  @media (max-width: breakpoints.$sm) {
    --cycle-button-width: 1.75rem;
  }

  //background-image: var(--image-src), var(--image-src);
  //background-size: contain, cover;
  //background-repeat: no-repeat, no-repeat;
  //background-position: center, center;

  box-shadow: 0 0 8px 1px rgba(0,0,0,0.5);

  --border-round: 6px;

  &, .nextBtn, .prevBtn {
    border-radius: var(--border-round);
  }

  pointer-events: none;

  max-height: 37.5em;
}

.imageBg {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
  clip-path: border-box;
  filter: blur(10px);
}

.image {
  grid-area: image;
  max-width: 100%;
  backdrop-filter: blur(10px);
  pointer-events: none;
  height: 100%;
  object-fit: contain;
  object-position: center;
  width: 100%;
  position: absolute;
}

.nextBtn, .prevBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px) contrast(60%) brightness(75%);
  appearance: none;
  pointer-events: none;

  --button-alpha: 0.75;
  &, &:active, &:focus, &:enabled, &:active, &:visited, &:hover {
    color: rgba(#fff, var(--button-alpha));
    text-decoration: none;
  }

  transition: color 0.1s ease;

  &:hover {
    --button-alpha: 1;
  }

  // Simulate a drop-shadow on the icon by using a radial gradiant (stop early, like 70%, to make sure it doesn't get cropped)
  svg {
    background: radial-gradient(ellipse, rgba(0,0,0,0.5) 50%, transparent 70%);
    height: auto;
    aspect-ratio: 1 / 1;
    pointer-events: all;
  }
}

.prevBtn {
  grid-area: prev;

  // Disable border rounding on the inner edge
  border-bottom-right-radius: 0!important;
  border-top-right-radius: 0!important;
}

.nextBtn {
  grid-area: next;

  // Disable border rounding on the inner edge
  border-bottom-left-radius: 0!important;
  border-top-left-radius: 0!important;
}

span.techDummy {
  position: absolute;
  display: block;

  justify-self: center;
  width: max-content;
  left: 50%;
  transform: translate(-50%, -100%) scale(0);
  transition: transform 0.2s ease, opacity 0.1s ease;
  opacity: 0;
  padding: shared.padding(1);
  border-radius: 4px;
  border: 1px solid shared.$color-light;
  background-color: shared.$color-dark;
  font-size: 0.8em;
}